<h1>Edit Page</h1>

<% if @pin.errors.any? %>
  <% @pin.errors.full_messages.each do |error| %>
    <p>
      <% p "color:red;" %>
        <%= p error %>
    </p>
  <% end %>
<% end %>

<%= form_for @pin do |f| %>
    <p>
    	<%= f.label "Image Url" %> 
    	<%= f.text_field :url %>
    </p>

    <p>
    	<%= f.label "Comment" %>
    	<%= f.text_field :url_comment %>
    </p>
    
    <p>
    	<%= f.submit "Update Pin" %>	
    </p>
    
<% end %>