<h1>Edit Page</h1>

<%= form_for @p do |p| %>
    <p>
    	<%= p.label "Image Url" %> 
    	<%= p.text_field :url %>
    </p>

    <p>
    	<%= p.label "Comment" %>
    	<%= p.text_field :url_comment %>
    </p>
    
    <p>
    	<%= p.submit "New Pin" %>	
    </p>
    
<% end %>