<!-- <h1>New Pin</h1>
    <!-- form_for adds the form action and the authenticity token for us.  -->

<% if @pin.errors.any? %>
  <% @pin.errors.full_messages.each do |error| %>
    <p>
      <% p "color:red;" %>
        <%= p error %>
    </p>
  <% end %>
<% end %>


<%= form_for @pin do |f| %>
    <div>
        <p>
           <%= f.label "Image Url" %> 
           <%= f.text_field :url %>
        </p>
    </div>
 
    <div>
      <p>
    	<%= f.label "Comment" %>
    	<%= f.text_field :url_comment %>
      </p>
    </div>

    <div>
      <p>
    	<%= f.submit "New Pin" %>	
      </p>
    </div>

<% end %> 